body{
    background-color: black;
}

.header{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    color:white;
    margin:20px;
}
.header1{
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    color:white;
    margin-top:10px;

}
a{
    font-size:20px;
}
.body{
    display:flex;
    flex-direction: row;
    justify-content:space-around;
    margin:40PX;
    margin-top:50px;
}
.box{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content:space-between;
}
.service{
    background-color:rgba(59, 59, 59, 0.274);
    margin-right:10px;
    align-items:center;
    text-align:center;
    width:400px;
    margin:20px;
    margin-top:0px;
    border:solid;
    border-radius:70px;

    
}
.abt{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    margin:30px;
}
.proj{
    text-align:center;
    
}